arrow==0.15.5
asgiref==3.2.7
beautifulsoup4==4.9.0
bibtexparser==1.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
dj-database-url==0.5.0
Django==3.0.5
django-heroku==0.3.1
future==0.18.2
fuzzywuzzy==0.18.0
gunicorn==20.0.4
idna==2.9
psycopg2==2.8.5
pycparser==2.20
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2019.3
scholarly==0.2.5
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
whitenoise==5.0.1
