
<h1>Golgi: search less; read more.</p>

<h2>{{ network.project_title }}</h2>

<h3> Selected publications </h3>
<table>
    <th>Document</th> <th>Title</th> <th>Go Back</th> <th>Go Forward</th>
    {% for publication in selected_publications %}
    <tr>
        <td><a href="{{ publication.link }}" target="_blank">[pdf]</a></td>
        <td>{{ publication.title }}</td>
        <td>
            {% if publication.file %}
                {% if publication.cites_calculated %}
                    Done
                {% else %}
                    <a href="{% url 'make_cites' publication.pk %}">Make</a>
                {% endif %}
            {% else %}
                <a href="{% url 'admin:crystal_publication_change' publication.pk  %}"> Need File </a>
            {% endif %}
        </td>
        <td>
            {% if publication.cited_by_calculated %}
                Done
            {% else %}
                <a href="{% url 'make_cited_by' publication.pk %}">Make</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<h3> Uploaded Publications <a href="{% url 'admin:crystal_publication_add' %}" target="_blank">(new)</a></h3>
<table>
    <th>Document</th><th>Title</th><th>Relations</th><th>Edit</th><th>Include</th><th>Archive</th>
    {% for publication in uploaded_publications %}
    <tr>
        <td><a href="{{ publication.link }}" target="_blank">[pdf]</a></td>
        <td>{{ publication.title }}</td>
        <td>{{publication.n_related}}</td>
        <td><a href="{% url 'admin:crystal_publication_change' publication.pk  %}">Edit</a></td>
        <td><a href="{% url 'pub_status' publication.pk 'INCLUDED' %}">Include</a></td>
        <td><a href="{% url 'pub_status' publication.pk 'ARCHIVED' %}">Archive</a></td>
    </tr>
    {% endfor %}
</table>

<h3> Suggested Publications </h3>
<table>
    <th>Document</th><th>Title</th><th>Relations</th><th>Edit</th><th>Include</th><th>Archive</th>
    {% for publication in related_publications %}
    <tr>
        <td><a href="{{ publication.link }}" target="_blank">[link]</a></td>
        <td>{{ publication.title }}</td>
        <td>{{publication.n_related}}</td>
        <td><a href="{% url 'admin:crystal_publication_change' publication.pk  %}">Edit</a></td>
        <td><a href="{% url 'pub_status' publication.pk 'INCLUDED' %}">Include</a></td>
        <td><a href="{% url 'pub_status' publication.pk 'ARCHIVED' %}">Archive</a></td>
    </tr>
    {% endfor %}
</table>
