
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
<h1>Golgi: search less; read more.</h1>

<h2>{{ network.project_title }}<a href="{% url 'admin:crystal_profile_change' network.owner.pk %}">(switch)</a></h2>

{% include 'crystal/selected.html' %}

{% include 'crystal/uploaded.html' %}

{% include 'crystal/suggested.html' %}

    <p>Try the new tabbed interface <a href="{% url 'tabbed' %}">here</a>.</p>

</div>
</body>

